.section-title
  position: relative
  text-align: center
  &::after
    content: ''
    display: block
    width: 53px
    height: 8px
    margin: 25px auto 50px
    background: url(images/general/title-line.svg) repeat-x center left / contain