@import 'section'
@import 'phone'
@import 'video'
@import 'slider'
@import 'social'
@import 'quantity'

.scroll-down
  width: 50px
  height: 50px
  padding: 0
  border: 0
  background: linear-gradient(#f5fdeb, #a5d861)
  border-radius: 50%
  box-shadow: 0 3px 20px rgba(#a5d861, 0.35)
  svg
    width: 16px
    height: 9px
    fill: $main-color

.yith-wcwl-add-to-wishlist
  position: absolute
  top: 25px
  right: 25px
  z-index: 1
  margin: 0
  .ajax-loading
    margin: 0
    position: absolute
    top: 0
    left: 0
.yith-wcwl-add-button
  a
    position: relative
    &::before
      content: ''
      display: block
      width: 15px
      height: 15px
      background: url(images/general/star.svg) no-repeat center / contain
.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse
  a
    &::before
      content: ''
      display: block
      width: 15px
      height: 15px
      background: url(images/general/star-fill.svg) no-repeat center / contain
#yith-wcwl-popup-message
  opacity: 0
  visibility: hidden
  z-index: -10000

// Select2
.select2-container--default
  .select2-selection--single
    height: 58px
    border: 1px solid #eeeeee
    border-radius: 10px
    box-shadow: 0 1px 4px rgba(#ededed, 0.46)
    +trans
    &:focus
      outline: none
    .select2-selection__rendered
      padding: 15px 25px
      font-size: 1.6rem
      font-weight: 500
      color: #999898
      &:focus
        outline: none
    .select2-selection__arrow
      height: 100%
      b
        right: 20px
        left: auto
  &.select2-container--open
    .select2-selection--single, .select2-dropdown
      border-color: $accent
  .select2-dropdown
    border-color: #eeeeee

.partners-list
  margin-bottom: 30px
  .blocks-gallery-item figure
    justify-content: center