.catalog
  padding-top: 250px
  padding-bottom: 35px
  +xl-block
    padding-top: 180px
  .section-head
    align-items: center
    +md-block
      display: block
      .section-head
        &__left
          margin-bottom: 30px
        &__right
          margin-left: 0
      .section-title
        margin-right: 0
        text-align: center
      .woocommerce-breadcrumb
        padding: 0
        text-align: center
        &::before
          display: none