div.products
  +row-flex
  .product-item
    +col
    +size(3)
    +size-lg(4)
    +size-md(6)
    +size-sm(12)
    margin-bottom: 30px


.product-item
  position: relative
  padding: 80px 45px 30px
  +box
  text-align: center
  +trans
  &:hover
    box-shadow: 0 5px 15px rgba(#f1e1f6, 0.6)
  &__title
    margin-top: 20px
    margin-bottom: 5px
    font-size: 1.8rem
    font-weight: 700
    color: $main-color
  &__ribbons
    position: absolute
    top: 15px
    left: 15px
    z-index: 1
    &-wishlist
      display: inline-block
      vertical-align: middle
      margin-right: 15px
      .yith-wcwl-add-to-wishlist
        position: relative
        top: auto
        right: auto
  &__ribbon
    display: inline-block
    margin-right: 5px
    padding: 1px 10px
    font-size: 1.4rem
    font-weight: 700
    color: $gray
    border-radius: 25px
    border: 1px solid $gray
    background-color: #fff
    &:last-child
      margin-right: 0
    &--new
      color: #a5d861
      border-color: #a5d861
  &__cat
    margin-bottom: 7px
    font-size: 1.2rem
    font-weight: 700
    color: #bbbaba
  .button
    &.loading
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        border-radius: inherit
        background-image: linear-gradient(#fce9ff, #eeb8ff)
      &::before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        z-index: 1
        width: 18px
        height: 18px
        margin: -9px 0 0 -9px
        opacity: 1
        border-radius: 50%
        border: 3px solid transparent
        border-top: 3px solid rgba(255, 255, 255, 0.9)
        border-right: 3px solid rgba(255, 255, 255, 0.9)
        background: transparent
        animation: 0.5s rotate cubic-bezier(0.4, 0, 0.2, 1) infinite
    &.added
      display: none
      + a.added_to_cart
        @extend .btn
        position: relative
        max-width: 145px
        padding-left: 0
        padding-right: 0
        text-indent: 100%
        white-space: nowrap
        overflow: hidden
        &::before
          content: ''
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%) rotate(45deg)
          width: 7px
          height: 13px
          border-right: 2px solid #fff
          border-bottom: 2px solid #fff

.price
  display: flex
  flex-direction: column-reverse
  margin-bottom: 20px
  font-size: 2.4rem
  font-weight: 700
  color: $accent
  del
    font-size: 1.4rem
    color: #cecece
  ins
    text-decoration: none

.s-product
  .section-head
    align-items: center
    +md-block
      display: block
      .section-head
        &__left
          margin-bottom: 30px
        &__right
          margin-left: 0
      .section-title
        margin-right: 0
        text-align: center
      .woocommerce-breadcrumb
        padding: 0
        text-align: center
        &::before
          display: none

.product
  &__wrap
    +row-flex
    position: relative
    .product-item__ribbons
      z-index: 2
      left: auto
      right: 15px
      top: 0
      +lg-block
        top: 15px
        right: auto
        left: 30px
  &__sku
    font-size: 1.4rem
    font-weight: 700
    color: $accent
    &-val
      display: inline-block
      margin-left: 20px
      padding: 14px 20px
      +box
      color: $main-color
      font-weight: 400
      text-transform: uppercase
  &__title
    margin-bottom: 15px
    padding-right: 200px
    font-size: 2.4rem
    font-weight: 700
    color: $main-color
    +lg-block
      padding-right: 0
  &__cat
    margin-bottom: 20px
    font-size: 1.4rem
    font-weight: 700
    color: #bbbaba
  &__free-delivery
    font-size: 1.4rem
    color: #787878
    svg
      width: 15px
      height: 15px
      margin-right: 10px
      fill: $gray
  &__summary
    .price
      margin-top: 80px
      margin-bottom: 40px
      font-size: 3.6rem
      line-height: 1.3
      +sm-block
        margin-top: 20px
        margin-bottom: 20px
    .cart
      display: flex
      +md-block
        display: block
      .button
        flex-grow: 1
        +md-block
          width: 100%
    .quantity
      width: 14rem
      margin-right: 30px
      +md-block
        margin-right: 0
        margin-bottom: 30px
  &__descr
    margin-top: 40px
    &-title
      margin-bottom: 15px
      font-size: 2.4rem
      font-weight: 700
      color: #a0d758


.woocommerce-product-gallery
  +col
  +size(7)
  +size-sm(12)
  +sm-block
    margin-bottom: 30px
  &__wrap
    +u-row-flex(7.5px)
  &__main-img
    +u-col(7.5px)
    width: calc(80% - 7.5px)
    +md-block
      width: 100%
      margin: 0 0 10px
  &__thumb
    +u-col(7.5px)
    width: calc(20% - 7.5px)
    +md-block
      width: 100%
.entry-summary
  +col
  +size(5)
  +size-sm(12)

.woocommerce-product-slider
  height: 100%
  padding: 20px 15px
  +box
  +md-block
    height: auto
  &__item
    display: flex
    align-items: center
    justify-content: center

.woocommerce-product-thumb-slider
  max-height: 440px
  margin: 0 -7.5px
  padding: 0 7.5px
  +md-block
    max-height: none
    padding: 0
    margin: 0
  &__item
    +box
    box-shadow: 0 1px 21px rgba(#f1e1f6, 0.46)
    text-align: center
    overflow: hidden
    cursor: pointer
    +trans
    &:hover
      border-color: $accent